# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# Окружение и секреты
.env
.venv/
venv/

# Инструменты
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Редакторы / ОС
.idea/
.vscode/
.DS_Store
